<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <div>
        <h2>Proximos Eventos</h2>      
      </div>
      <div>
        <h2>Materias</h2>
        <div class="cartas">
            <% if current_user.role == "student" %>
              <% @assignatures.each do |assignature| %>
                <%= link_to assignature_path(assignature), class:"car-assignature text-decoration-none text-dark" do %>           
                  <h3><%= assignature.name %></h3>
                  <p>Docente: <%= assignature.teacher.last_name %></p>
                <% end %>
              <% end %>
            <% else %>
              <% @assignatures.each do |assignature| %>
                <%= link_to assignature_path(assignature), class:"car-assignature text-decoration-none text-dark" do %>
                  <h3><%= assignature.name %></h3>
                <% end %>
              <% end %>
            <% end %>               
        </div>
      </div>
      

    </div>
    <div class="col-12 col-md-4">
      <div id="calendar">
      </div>
      <div class="today-scheddule align-items-center">
        <h2 class="my-5">Materias del Dia</h2>
        <% if current_user.role == "student" %>
          <% @assignatures.each do |assignature| %>
            <%= link_to assignature_path(assignature), class:"text-decoration-none text-dark d-flex" do %>
              <div class="letra">
                <%= assignature.name.first %>
              </div>
                <div class="d-flex justify-content-between">
                  <div>
                    <h3><%= assignature.name %></h3>
                    <p>Docente: <%= assignature.teacher.last_name %></p>
                  </div>
                  <i class="fas fa-ellipsis-h"></i>
                </div>           
            <% end %>
          <% end %>
        <% else %>
          <% @assignatures.each do |assignature| %>
            <%= link_to assignature_path(assignature), class:"text-decoration-none text-dark" do %>
              <h3><%= assignature.name %></h3>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="holiday">
        <h3>158</h3>      
      </div>


    </div>
  </div>
</div>



