
<div class="container">
  <div class="main-container">
    <h2 class="my-4">Materias</h3>
      <div class="cards d-flex">
        <% if current_user.role == "student" %>
          <% @assignatures.each do |assignature| %>
            <%= link_to assignature_path(assignature), class:"card-assignature text-decoration-none text-dark" do %>           
              <h3><%= assignature.name %></h3>
              <p>Docente: <%= assignature.teacher.last_name %></p>
            <% end %>
          <% end %>
        <% else %>
          <% @assignatures.each do |assignature| %>
            <%= link_to assignature_path(assignature), class:"card-assignature text-decoration-none text-dark" do %>
              <h3><%= assignature.name %></h3>
            <% end %>
          <% end %>
        <% end %>
      </div>
  </div>
</div>

