
<div class="container">
  <div class="main-container">
    <h2 class="my-4">Materias</h3>
      <div class="cards d-flex">
        <% if current_user.role == "student" %>
          <% @assignatures.each do |assignature| %>
            <%= link_to assignature_path(assignature), class:"card-assignature text-decoration-none text-dark" do %>           
              <h3><%= assignature.name %></h3>
              <p>Docente: <%= assignature.teacher.last_name %></p>
            <% end %>
          <% end %>
        <% else %>
          <% @assignatures.each do |assignature| %>
            <%= link_to assignature_path(assignature), class:"card-assignature text-decoration-none text-dark" do %>
              <h3><%= assignature.name %></h3>
            <% end %>
          <% end %>
        <% end %>
      </div>
  </div>
  <div class="main-container assigment mt-4">
    <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Horario</th>
        <th scope="col">Lunes</th>
        <th scope="col">Martes</th>
        <th scope="col">Miercoles</th>
        <th scope="col">Jueves</th>
        <th scope="col">Viernes</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Modulo 1 <p>8.00 hs - 9.45 hs</p></th>
        <td>Matemática</td>
        <td>Lengua</td>
        <td>Geografia</td>
        <td>Historia</td>
        <td>Plástica</td>

      </tr>
      <tr>
        <th scope="row">Modulo 2 <p>10.00 hs - 11.45 hs</p></th>
        <td>Biologia</td>
        <td>Contabilidad</td>
        <td>Filosofia</td>
        <td>Marketing</td>
        <td>Computación</td>
      </tr>
      <tr>
        <th scope="row">Modulo 3 <p>12.00 hs - 13.15 hs</p></th>
        <td>Historia</td>
        <td>Matemática</td>
        <td>lengua</td>
        <td>Contabilidad</td>
        <td>Computación</td>
        
      </tr>
      <tr>
        <th scope="row">Modulo Tarde <p>14.00 hs - 15.30 hs</p></th>
        <td>Ingles</td>
        <td>Educacion Física</td>
        <td>ingles</td>
        <td>Educacion Física</td>
        <td>ingles</td>        
      </tr>

    </tbody>
  </table>
  </div>

</div>

