<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <div>
        <h3>Proximos Eventos</h3>
        <div class="evento">                      
          <% current_user.courses.first.events.where('date > ?',(DateTime.now - 1.day)).order(:date).first(4).each do |event| %>
            <div class="ev-card d-flex">
              <div>
                <span class="date-assig"><%= event.eventable_id %> <%= event.eventable_type %></span>
                <span class="date-day"><%= event.date.strftime("%d/%m/%Y") %></span>              
              </div>
              <div>
                <div class="date"><%= ((event.date - DateTime.now)/86400).round() %></div>
                <span class="ml-2">dias</span>              
              </div>                       
            </div>
          <% end %>          
        </div>  
      </div>
      <div>
        <h3>Materias</h3>
        <div class="car">
            <% if current_user.role == "student" %>
              <% @assignatures.first(6).each do |assignature| %>
                <%= link_to assignature_path(assignature), class:"car-assignature text-decoration-none text-dark d-flex" do %>           
                  <div class="letra mr-4"><%= assignature.name.first  %></div>
                  <div class="core">
                    <h3><%= assignature.name %></h3>
                    <p>Docente: <%= assignature.teacher.last_name %></p>
                    <progress id="bar" value="<%= assignature.user_homework_completion_rate %>" max="100"  data-toggle="tooltip" data-placement="bottom" title="<%= number_to_percentage(assignature.user_homework_completion_rate, precision: 2) %> de tareas completadas "></progress>
                    </div>
                  <i class="fa fa-ellipsis-v"></i>                  
                <% end %>
              <% end %>
            <% else %>
              <% @assignatures.first(6).each do |assignature| %>
                <%= link_to assignature_path(assignature), class:"car-assignature text-decoration-none text-dark" do %>
                  <h3><%= assignature.name %></h3>
                <% end %>
              <% end %>
            <% end %>               
        </div>
      </div>     
    </div>
    <div class="col-12 col-md-4">
      <div id="calendar">
        <h3>Agosto</h3>
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">Dom</th>
              <th scope="col">Lun</th>
              <th scope="col">Mar</th>
              <th scope="col">Mier</th>
              <th scope="col">Jue</th>
              <th scope="col">Vie</th>
              <th scope="col">Sab</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="fds">26</td>
              <td id="fds">27</td>
              <td id="fds">28</td>
              <td id="fds">29</td>
              <td id="fds">30</td>
              <td id="fds">31</td>
              <td>1</td>
            </tr>
            <tr>
              <td id="fds">2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td id="fds">8</td>
            </tr>
            <tr>
              <td id="fds">9</td>
              <td>10</td>
              <td>11</td>
              <td>12</td>
              <td>13</td>
              <td id="pd">14</td>
              <td id="fds">15</td>
            </tr>
            <tr>
              <td id="fds">16</td>
              <td id="feriado">17</td>
              <td id="feriado">18</td>
              <td>19</td>
              <td>20</td>
              <td>21</td>
              <td id="fds">22</td> 
            </tr>
            <tr>
              <td id="fds">23</td>
              <td>24</td>
              <td>25</td>
              <td>26</td>
              <td>27</td>
              <td>28</td>
              <td id="fds">29</td> 
            </tr>
            <tr>
              <td id="fds">30</td>
              <td>31</td>
              <td id="fds">1</td>
              <td id="fds">2</td>
              <td id="fds">3</td>
              <td id="fds">4</td>
              <td id="fds">5</td> 
            </tr>
          </tbody>
        </table>

      </div>
      <div class="holiday-grid">
        <div class="d-flex align-items-center">
          <i class="fas fa-bullhorn mr-3"></i>      
          <h3>Próximo feriado</h3>
        </div>
        <div class="holiday">
          <h3>2</h3>
          <h4>dias!</h4>
        </div>      
      </div>

      


    </div>
  </div>
</div>


