<div class="wrapper">
  <div class="card">
    <input type="checkbox" id="card1" class="more" aria-hidden="true">
    <div class="content">
      <%= simple_form_for([@homework, @user_homework]) do |f| %> 
      <div class="front" style="background-image: url(<%= cl_image_path 'https://res.cloudinary.com/julianoviedo1/image/upload/v1597072316/flashcard_background.jpg' %>)">
        <div class="inner">
          <div class="contenido">
            <h2><%= @homework.name%></h2>
            <h3><%= @homework.content%></h3>
          </div>
          <%= f.input :user_answer, as: :text, input_html: { id: 'userAnswer' }%>
          <label for="card1" class="button" id="button_to_answer" aria-hidden="true">
            Ver Respuesta
          </label>
        </div>
    </div>
    <div class="back">
        <div class="inner">
          <div class="description">
            <p><%= @homework.answer%></p> 
          </div>
          <div class="location">Respuesta</div>
          <div class="price">
            <i class="far fa-star"></i>
          </div>
          <div class="answers">
          <p id= "hidden_answer"></p>
          </div>
          <div class="flash_form">
            <label for="card1" class="button return" aria-hidden="true">
              <i class="fas fa-arrow-left"></i>
            </label>
            <%= f.submit class:'button'%>  
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
