<h1 class="d-flex justify-content-between my-3"> Tareas Pendientes  <%=link_to 'Tengo una duda!', new_lesson_ticket_path(@homework.lesson_id), class: 'btn btn-success'%></h1>
<div class = "main-container assigment">
  <%# main-container assigment %>
  <div>
    <h2> <%=@homework.name%> </h2>
    <h3> Descripcion del ejercicio: <%= @homework.content%></h3> 
  </div>
  <hr>
  <div class="container my-3">
    <h3> Adjunta la respuesta aqui: </h3> 
    <%= simple_form_for([@homework, @user_homework]) do |f| %>
      <%= f.input :file, as: :file %>
      <%= f.submit :'Subir Tarea', class:'btn btn-success', data: {confirm: 'Confirmar cambios'}%>
    <% end %>
  </div>
</div>