<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Materias", assignatures_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Tickets</li>
  </ol>
</nav>
<div class="main" style="font-family: 'DM Sans';">
  <h2>Mis tickets</h2>  
  <div class="cards d-flex flex-column" id="tickets">
    <% @tickets.each do |ticket|  %>
    <div class="main-container assigment d-flex flex-row justify-content-between pb-3">
      <div class="d-flex flex-row align-items-center">
        <%= image_tag "https://randomuser.me/api/portraits/women/67.jpg", style:"vertical-align: middle; width: 50px; height: 50px; border-radius: 50%;"%>
        <div class="d-flex flex-column ml-3 ">
          <h3><%= ticket.lesson.assignature.name %></h3>
          <p><%= ticket.student.first_name %> <%= ticket.student.last_name %></p>
          <p><%= ticket.description %></p>
          
        </div>
      </div>
      <p>Creado hace: <%= (((ticket.created_at - DateTime.now)* (-1))/60).round %> min</p>
      <p class="align-self-center">Estado: <%= ticket.state %></p>
      <div class="d-flex flex-row align-items-center">
        <%= image_tag "https://randomuser.me/api/portraits/women/68.jpg", style:"vertical-align: middle; width: 50px; height: 50px; border-radius: 50%;"%>
        <div class="d-flex flex-column ml-3">
          <p>Profesor/a asignado:</p>
          <p><%= ticket.lesson.assignature.teacher.first_name %> <%= ticket.lesson.assignature.teacher.last_name %></p>
        </div>
      </div>
    </div> 
    <% end %>
    
  </div>
  <%=link_to 'Actualizar estado',tickets_path, class: 'btn btn-success mt-3'%>

</div>
