<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Materias", assignatures_path %></li>
      <li class="breadcrumb-item active" aria-current="page">Tickets</li>
    </ol>
  </nav>

  <div>
    <h2>Panel de dudas</h2>

    <div class="main-container assigment my-3 d-flex">
      <div>
        <i class="far fa-lightbulb"></i>      
      </div>
      <div>
        <%= @homework.content  %>
      </div>
    
    </div>
    
    
    <div class="main-container assigment d-flex flex-column">
      

      <div>
        <label>Por favor, tomese un tiempo para describir cuales son sus dudas especificas para poder ayudarlo de mejor manera</label>
      </div>
      <div>
        <%= simple_form_for [ @homework, @ticket ] do |f| %>
          <%= f.input :description, label: false, as: :text, :input_html => { cols: 5, rows: 10} %>
          <%= f.submit "Submit", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>  
    


  </div>

</div>

