<div class="login_main">
    <div class="login_form">
     <div class="login_form-form">
        <h1 class="text-center">Campus Virtual</h1>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-school"}) do |f| %>
        <div id="input" >
          <%= f.input :email,
                      label: false,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: 'input_login'},
                      placeholder: "facundo@gmail.com",
                      label:"Email" %>
        </div>
        <div id="input">
          <%= f.input :password,
                      label: false,
                      required: false,
                      input_html: { autocomplete: "current-password", class: 'input_login' },
                      placeholder:"******",
                      label:"Contraseña" %>
        </div>
        <div class="form_action">
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          <%= f.button :submit, "Log in",
                        class: "btn btn-primary" %>
        </div>
        <% end %>
        <div class="form_faq">
          <%= render "devise/shared/links" %>
        </div>
    </div>
    <br>
    <br>
    <br>
    <p>Estimada/o estudiante.<br>Si su usuario se encuntra suspendido temporalmente, por favor comunicarse con el<br>sector Administracion por medio de administracion@newmancollage.edu.ar <br> Muchas Gracias</p>
  </div>
  <div class="login_background">
    <img src="<%= asset_path 'rayuela.jpg' %>" class="background-img">
    
  </div>
</div>

