<div class="container">
  <div class = "main-container_home">
    <h2 class="card-title d-flex justify-content-between"> Listado <%= @assignature.name  %>   <%= link_to "Volver a la Materia", assignatures_path(@assignature.id), class:"btn btn-success mt-4"%></h2> 
    <div class="cards_home">
      <div class="main-container_home assigment">
        <div class="card-title d-flex d-flex justify-content-start align-items-left">
          <i class="fa fa-file" aria-hidden="true"></i>
          <h4> <strong>  Homeworks </strong>  </h4>
        </div>
        <% if @assignature_homeworks.empty? %>
           <p> No tenes homeworks!!! 😁 </p>
        <% else %>
          <% @assignature_homeworks.each do |lesson , homework| %>
            <h3>  <%=  lesson.name%>  </h3>
            <% homework.each do |home| %> 
              <div class="d-flex align-items-start justify-content-between" id="h_homework">
                <p> <%= link_to home.name, homework_path(home.id) ,class:"text-decoration-none text-dark"  %> </p> 
                <i class="fa fa-file" aria-hidden="true"></i>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="main-container_home assigment">
        <div class="card-title d-flex d-flex justify-content-start align-items-left">
          <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          <h3> <strong>  Flashcards  </strong>  </h3>
        </div>
        <% if @assignature_flashcards.empty? %>
          <p> No tenes Flashcards!!! 😁 </p>
        <% else %>
          <% @assignature_flashcards.each do |lesson , homework| %>
            <h4>  <%=  lesson.name%>  </h4>
            <% homework.each do |home| %>    
              <div class="d-flex align-items-start justify-content-between" id="h_flashcard">
                <p> <%= link_to home.name, homework_path(home.id), class:"text-decoration-none text-dark"  %> </p> 
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              </div>
            <% end %>
          <% end %>
        <% end %>  
      </div>
    </div>    
  </div>
</div>



