<div class="container">
  <div class = "main-container_home">
    <h2 class="card-title d-flex justify-content-between"> Listado <%= @assignature.name  %>   <%= link_to "Volver a la Materia", assignatures_path(@assignature.id), class:"btn btn-success mt-4"%></h2> 
    <div class="cards_home d-flex align-items-around">
      <div class="main-container_home assigment">
        <h3>Homeworks  </h3>
        <% if @assignature_homeworks.empty? %>
           <p> No tenes homeworks!!! 😁 </p>
        <% else %>
          <% @assignature_homeworks.each do |lesson , homework| %>
            <p> <%=  lesson.name%> </p>
            <% homework.each do |home| %> 
              <div class="d-flex justify-content-between align-items-center my-2 borde" id="lesson">
                <p> <%= link_to home.name, homework_path(home.id)  %> </p> 
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="main-container_home assigment">
        <h3>Flashcards  </h3>
        <% if @assignature_flashcards.empty? %>
          <p> No tenes Flashcards!!! 😁 </p>
        <% else %>
          <% @assignature_flashcards.each do |lesson , homework| %>
            <p> <%=  lesson.name%> </p>
            <% homework.each do |home| %>    
              <p> <%= link_to home.name, homework_path(home.id)  %> </p> 
            <% end %>
          <% end %>
        <% end %>  
      </div>
    </div>    
  </div>
</div>



