

<% if @homework.type_off == "homework" %>
  <h4> Homework </h4>
  <h4>  <%= @homework.name %></h4>
  <h4> Descripcion: <%= @homework.content%></h4> 
  <h4> Adjunta la respuesta aqui: </h4> 
  <p>------BUTTON---------</p>
<% else %>
  <h4> Flashcard </h4> 
  <h4>  <%= @homework.name%></h4>
  <h4> Descripcion: <%= @homework.content%></h4> 
  <%= simple_form_for(@homework) do |f| %> 
    <%= f.input :answer, include_blank: false ,label: "Indique su respuesta aqui"  %>
    <%= f.submit value="Update Flashcard", class:"btn btn-dark" %>
  <% end %>
<% end %>
<p>-----------------------</p>

<h3>Todavia tenés dudas?</h3>

<%=link_to 'Tengo una duda!', lesson_tickets_path(@homework.lesson_id), class: 'btn btn-success'%>
