<div class="container">
  <div class = "main-container_home">
    <h2 class="card-title d-flex justify-content-between"> Tareas Pendientes  <%=link_to 'Tengo una duda!', lesson_tickets_path(@homework.lesson_id), class: 'btn btn-success'%> </h2>
    <div class="main-container assigment">
      <% if @homework.type_off == "homework" %>
        <h4> Homework </h4>
        <h4> Titulo: <%= @homework.name %></h4>
        <h4> Descripcion del ejercicio: <%= @homework.content%></h4> 
        <h4> Adjunta la respuesta aqui: </h4> 
        <h3>Todavia tenés dudas?</h3>
        <%=link_to 'Tengo una duda!', new_lesson_ticket_path(@homework.lesson_id), class: 'btn btn-success'%>
      <% else %>
        <h4> Flashcard </h4> 
        <h4> Titulo:  <%= @homework.name%></h4>
        <h4> Descripcion del ejercicio:  <%= @homework.content%></h4> 
        <%= simple_form_for(@homework) do |f| %> 
          <%= f.input :answer, include_blank: false ,label: "Indique su respuesta aqui"  %>
          <%= f.submit value="Update Flashcard", class:"btn btn-dark" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>