<!DOCTYPE html>
<html>
  <head>
    <title>Kleinbusse Nueva normalidad Nueva educación</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
            
    <!-- Primary Meta Tags -->
    <title>Kleinbusse  Educación -
    Una nueva forma de estudiar</title>
    <meta name="title" content="Kleinbusse  Educación -
    Una nueva forma de estudiar">
    <meta name="description" content="Llega una nueva forma de estudiar, forma parte de la innovación en educación.  Consulta por los planes educativos.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://kleinbusse.digital/">
    <meta property="og:title" content="Kleinbusse  Educación -
    Una nueva forma de estudiar">
    <meta property="og:description" content="Llega una nueva forma de estudiar, forma parte de la innovación en educación.  Consulta por los planes educativos.">
    <meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://kleinbusse.digital/">
    <meta property="twitter:title" content="Kleinbusse  Educación -
    Una nueva forma de estudiar">
    <meta property="twitter:description" content="Llega una nueva forma de estudiar, forma parte de la innovación en educación.  Consulta por los planes educativos.">
    <meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
    
    <!-- FAVICON -->
    <%= favicon_link_tag 'favicon-32x32.png'%>
    

    <!-- OTROS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>  
    <div class="content">
      <div class="content-sidebar">
        <%= render 'shared/sidebar' %>
      </div>
      <div class="content-navbar mt-4">
  
        <%= render 'shared/flashes' %>
      </div>
      <div class="content-main">
        <main>
        <%= yield %>
        </main>
      </div>
    </div>    
  </body>
</html>
